In [1]:
# Importando as bibliotecas 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Ao gerar os dados de produtos os valores de preço unitario e o custo estavam muito acima do que poderia ser, isso irá gerar impacto nas analises, necessário alterar os dados.

In [2]:
# Importando os dados
produto_csv = pd.read_csv('produto_data.csv')
produto_csv.head(10)

,ProdutoID,Produto,Categoria,PrecoUnitario,Custo,QtdEstoque
0,bdd640fb-0667-4ad1-9c80-317fa3b1799d,Teclado Mecânico,Acessórios Informática,601.09,2229.82,125
1,23b8c1e9-3924-46de-beb1-3b9046685257,Mouse Sem Fio,Acessórios Informática,1154.89,2214.68,346
2,bd9c66b3-ad3c-4d6d-9a3d-1fa7bc8960a9,Mouse Gamer,Acessórios Informática,3716.31,1645.19,302
3,972a8469-1641-4f82-8b9d-2434e465e150,Headset Gamer,Acessórios Informática,2138.51,108.80,111
4,17fc695a-07a0-4a6e-8822-e8f36c031199,Hub USB,Acessórios Informática,1201.67,1814.02,287
5,9a1de644-815e-46d1-bb8f-aa1837f8a88b,Cabo HDMI,Acessórios Informática,1034.25,1956.66,279
6,b74d0fb1-32e7-4629-8fad-c1a606cb0fb3,Cadeira Gamer,Acessórios Informática,2126.62,1358.64,142
7,6b65a6a4-8b81-48f6-b38a-088ca65ed389,Monitor Suporte,Acessórios Informática,4056.68,39.37,412
8,47378190-96da-4dac-b2ff-5d2a386ecbe0,Base para Notebook,Acessórios Informática,840.31,1279.39,142
9,c241330b-01a9-471f-9e8a-774bcf36d58b,Adaptador USB,Acessórios Informática,819.62,2872.49,172

In [3]:
# Importando uma planilha em xlsx para altarar no excel os valores
produto_csv.to_excel('ProdutosCorrigir.xlsx')

Visualização dos dados com os valores alterados, foram alterados no excel pois queria colocar os valores proximos do real, agora é tratar as outras tabelas a partir da alteração dos produtos.

In [ ]:
# Carregando e visualizandos dados de produtos, verificando o nome dos produtos e valores unitario e custo
produtos = pd.read_excel('produtos_data.xlsx')
produtos.head(10)

,ProdutoID,Produto,Categoria,PrecoUnitario,Custo,QtdEstoque
0,P001,Teclado Mecânico,Acessórios Informática,378.58,101.50,462
1,P002,Mouse Sem Fio,Acessórios Informática,96.74,34.12,275
2,P003,Mouse Gamer,Acessórios Informática,400.01,139.86,426
3,P004,Headset Gamer,Acessórios Informática,412.87,121.23,144
4,P005,Hub USB,Acessórios Informática,47.94,17.07,374
5,P006,Cabo HDMI,Acessórios Informática,21.88,9.01,232
6,P007,Cadeira Gamer,Acessórios Informática,1209.96,846.65,361
7,P008,Monitor Suporte,Acessórios Informática,999.96,487.42,455
8,P009,Base para Notebook,Acessórios Informática,89.72,20.91,442
9,P010,Adaptador USB,Acessórios Informática,27.25,8.79,342

In [7]:
clientes = pd.read_csv('cliente_data.csv')
clientes.head(10)

,ClienteID,Nome,Idade,Genero,Segmento,Localizacao
0,C001,Brenda Alves,25,M,Alta Frequência,"Mossoró, Rio Grande do Norte"
1,C002,Sra. Isabelly Câmara,19,M,Recorrente,"Parintins, Amazonas"
2,C003,Cauã Rocha,22,M,Alta Frequência,"Maceió, Alagoas"
3,C004,Dra. Aurora Pastor,39,M,Recorrente,"Manaus, Amazonas"
4,C005,Ana Beatriz Alves,60,F,Alta Frequência,"Arapiraca, Alagoas"
5,C006,Henrique da Conceição,64,F,Alta Frequência,"Goiânia, Goiás"
6,C007,Amanda Novais,69,F,Alta Frequência,"Caxias do Sul, Rio Grande do Sul"
7,C008,Yago Leão,60,F,Alta Receita,"Belém, Pará"
8,C009,Pietro Pastor,47,M,Recorrente,"Parnaíba, Piauí"
9,C010,André Teixeira,21,F,Recorrente,"Vitória, Espírito Santo"

In [4]:
vendas = pd.read_csv('vendas_data.csv')
vendas.head(5)

,OrderID,OrderDate,ProductID,CustomerID,Region,Channel,Quantity,Revenue
0,O001,2023-07-18,P011,C376,Rio Grande do Sul,Loja Física,3,785.80
1,O002,2023-05-09,P035,C251,Roraima,Online,9,265.74
2,O003,2024-07-14,P055,C039,Santa Catarina,Online,1,2120.72
3,O004,2023-03-12,P054,C323,Alagoas,Online,3,144.79
4,O005,2024-07-11,P033,C234,Paraíba,Online,10,3224.87

In [13]:
# Qual a quantidade de vendas, dos produtos e clientes
print(f'Foram realizadas {vendas.shape[0]} vendas, tendo em catalogo {produtos.shape[0]} produtos e {clientes.shape[0]} clientes cadastrados.')

Foram realizadas 1854 vendas, tendo em catalogo 60 produtos e 500 clientes cadastrados.

Visualizar as informações, tipos e descrição dos dados, apos iniciar o tratamento

In [12]:
# Buscando os valores que contém valores fora do nome (Sra, Dra, Sr, Dr)
resultado = clientes[clientes['Nome'].str.contains(r'\.', na=False)]
resultado

,ClienteID,Nome,Idade,Genero,Segmento,Localizacao
1,C002,Sra. Isabelly Câmara,19,M,Recorrente,"Parintins, Amazonas"
3,C004,Dra. Aurora Pastor,39,M,Recorrente,"Manaus, Amazonas"
12,C013,Sr. Caleb Garcia,33,M,Alta Receita,"Feira de Santana, Bahia"
15,C016,Sra. Zoe Campos,43,M,Alta Frequência,"Aracaju, Sergipe"
23,C024,Dr. Gustavo Henrique Rios,57,M,Alta Receita,"Maceió, Alagoas"
...,...,...,...,...,...,...
462,C463,Dr. Marcelo Cassiano,22,F,Alta Frequência,"Manaus, Amazonas"
466,C467,Sra. Caroline Novais,29,F,Recorrente,"João Pessoa, Paraíba"
475,C476,Sr. João Lucas Oliveira,32,F,Recorrente,"Brasília, Distrito Federal"
484,C485,Dra. Helena Garcia,31,F,Recorrente,"Arapiraca, Alagoas"
487,C488,Sra. Antonella Aragão,22,M,Recorrente,"Belo Horizonte, Minas Gerais"